extends layout

block content
  h1 Workflow
  -const keys = Object.keys(output.groups)
  table.table.table-dark.table-striped
    tbody
      each key in keys
        tr
          td Group
          td= output.groups[key].groupName
        tr
          td Members
          td
            each member in output.groups[key].members
              span= member
              br
  select#workflow_select.form-control(name="workflow_select", onchange="ShowWworkflow()")
    each key in Object.keys(output.processes)
      option(value=key)= output.processes[key].processName
  #workflow
  h1 Debug stuff
  pre#wfdata= JSON.stringify(output, null, 2)
  script(src="/javascripts/workflowrenderer.js")
