extends layout

block content
  h1 Workflow
  -const keys = Object.keys(output.groups)
  table.table.table-dark.table-striped
    tbody
      each key in keys
        tr
          td Group
          td= output.groups[key].groupName
        tr
          td Members
          td
            each member in output.groups[key].members
              span= member
              br
  #workflow
  h1 Debug stuff
  pre#wfdata= JSON.stringify(output, null, 2)
  script(src="/javascripts/workflowrenderer.js")
